b{
    font-family: font-family: 'Poppins', sans-serif;

    
}
.blue-color{
    color: darkcyan;
}
h1{
    font-size: 45px;
    margin-left: 20px;
}
.heading{
    width: 900px;
    height: 55px;
}
.left-boxshadow{
    background-color: tomato;
    width: 5px;
    height: 150px;
    padding-left: 5px;
    border-radius: 5px;
    margin-right: 45px;
    
}
p{
    font-size: 20px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 80%;
    padding-left: 50px;
    padding-right: 10px;
    margin-left: 4%;
    margin-right: 5%;

}
.half-width img{
    width: 400px;
    padding-left: 5%;
    padding-right: 70%;
    padding-bottom: 10%;
    margin-bottom: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
}
section{
 
}
.mission{
    padding-left: 35%;
    padding-right: 5%;
}
.mission-item{
  
    width: 26%;
    margin-left: 2%;
    margin-right: 2px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: rgba(205, 92, 92, 0.555);
}
.indigo-color{
    background-color: rgba(82, 135, 179, 0.377);
}
.yellow-color{
    background-color: burlywood;
}
.green-color{
    background-color: rgba(205, 92, 92, 0.555);
}
h2{
font-size: 25px;
}
section{
    margin-top: 5%;
    margin-bottom: 5%%;
}
.last-part{
    text-decoration-line: underline;
    text-align:justify;
    font-size: 20px;
    margin-left: 30%;
}





footer{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: black;
    color: burlywood;
}
.white{
    color: white;
}
.font-style{
    font-family:cursive
}
